body {
  background-color: var(--color-bg);
  color: var(--color-primary-text);
}
.header {
  height: 5rem;
}
.bellIcon {
  color: var(--color-icons);
  font-size: 2rem;
  cursor: pointer;
}
.calendarIcon {
  color: var(--color-icons);
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  bottom: 3px;
}
.calendarLink {
  color: var(--color-item-highlight);
  text-decoration: none;
}
.checklistIcon {
  color: var(--color-icons);
  font-size: 1.5rem;
  position: relative;
  bottom: 3px;
}
.button {
  color: var(--color-item-highlight);
}