* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --color-bg: #f9f9f9;
    --color-card-bg: #ffffff;
    --color-primary-text: #1c1c1e;
    --color-secondary-text-label: #6e6e73;
    --color-border-divider: #e5e5ea;
    --color-btn: #3b82f6;
    --color-item-highlight: #2563eb;
    --color-icons: #686a6e;
    --color-notification: #a1a1aa;
}
/* Naptár sítlusai */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.calendar-cell {
  min-height: 80px;
  border: 1px solid var(--color-border-divider);
  text-align: center;
  background-color: var(--color-bg);
}

.calendar-header {
  background-color: #ffffff;
  border: none;;
}
