* {
    font-family: "Inter", sans-serif;
    border-radius: 12px;
    line-height: 1.5;
    font-weight: 400;
    --color-bg: #f9f9f9;
    --color-card-bg: #ffffff;
    --color-primary-text: #1c1c1e;
    --color-secondary-text-label: #6e6e73;
    --color-border-divider: #e5e5ea;
    --color-btn: #3b82f6;
    --color-item-highlight: #2563eb;
    --color-icons: #1c1c1ce;
    --color-notification: #a1a1aa
}